<div class="links">
    <%= link_to 'C Home', c_path %>
</div>
<div class="links">
    <%= link_to 'Types', c_types_path %>
</div>
<div class="links">
    <%= link_to 'Input/Output', c_iostream_path %>
</div>
<div class="links">
    <%= link_to 'Arrays', c_array_path %>
</div>
<div class="links">
    <%= link_to 'Char Arrays', c_carray_path %>
</div>
<div class="links">
    <%= link_to 'Loops', c_loops_path %>
</div>
<div class="links">
    <%= link_to 'Conditionals', c_conditionals_path %>
</div>
