<div class="links">
  <%= link_to 'Bash | Home', bash_path %>
</div>
<div class="links">
  <%= link_to 'Sha-Bang', bash_shabang_path %>
</div>
<div class="links">
  <%= link_to 'Invoke Scripts', bash_invoke_path %>
</div>
<div class="links">
  <%= link_to 'Basics', bash_basics_path %>
</div>
<div class="links">
  <%= link_to 'Conditionals', bash_conditionals_path %>
</div>
<div class="links">
  <%= link_to 'Administration', bash_admin_path %>
</div>
