<div class="links">
  <%= link_to 'Rails Home', rails_path %>
</div>
<div class="links">
  <%= link_to 'Rails Installation', rails_installation_path %>
</div>
<div class="links">
  <%= link_to 'Overview', rails_overview_path %>
</div>
<div class="links">
  <%= link_to 'Rails Setup', rails_setup_path %>
</div>
<div class="links">
  <%= link_to 'Create Rails App', rails_create_path %>
</div>
