<% provide(:title, 'Rails | Setup') %>

<div class="links">
  <%= link_to 'Rails Home', rails_path %>
</div>
<div class="links">
  <%= link_to 'Rails Installation', rails_installation_path %>
</div>
<div class="links">
  <%= link_to 'Overview', rails_overview_path %>
</div>
<div class="links">
  <%= link_to 'Rails Setup', rails_setup_path %>
</div>
<div class="links">
  <%= link_to 'Create Rails App', rails_create_path %>
</div>



<h1>Rails Setup</h1>
<h2>Add a remote repository(BitBucket/Github)</h2>
<div class="code">
  <span class="prompt">$ </span>git remote add origin git@github.com/username/sample_app.git<br>
  <span class="prompt">$ </span>git push origin master
</div>
