<%= provide(:title, "Cpp | Exercises") %>

<div class="links">
  <%= link_to 'C++ Home', cpp_path %>
</div>
<div class="links">
  <%= link_to 'Basics', cpp_basics_path %>
</div>
<div class="links">
  <%= link_to 'Examples', cpp_examples_path %>
</div>
<div class="links">
  <%= link_to 'Input/Output', cpp_iostream_path %>
</div>
<div class="links">
  <%= link_to 'Control Structures', cpp_control_structures_path %>
</div>
<div class="links">
  <%= link_to 'Functions', cpp_functions_path %>
</div>
<div class="links">
  <%= link_to 'Inheritance', cpp_inheritance_path %>
</div>
<div class="links">
  <%= link_to 'Linked Lists', cpp_linked_lists_path %>
</div>
