<%= provide(:title, 'C++ ') %>

<div class="links">
  <%= link_to 'Basics', cpp_basics_path %>
</div>
<div class="links">
  <%= link_to 'Examples', cpp_examples_path %>
</div>
<div class="links">
  <%= link_to 'Input/Output', cpp_iostream_path %>
</div>
<div class="links">
  <%= link_to 'Control Structures', cpp_control_structures_path %>
</div>


<h1> C++ Programming Notes Examples and References </h1>

<p>
 C++ is a general-purpose programming language. It has imperative, object-oriented and generic programming features, while also providing facilities for low-level memory manipulation.
</p>

<p>
  I am working with a Debian-based Linux OS. I assume you do as well.
</p>

<p>
  This is not a Linux course and I will not be going into any installation or terminal commands etc.
</p>
<br>
<p>
  To compile the source code, use the g++ compiler:
</p>

<div class="code">
  <span class="prompt">$ </span>
  g++ test.cpp
</div>

<p>
  Note: The output file will be a.out.
</p>

<p>
  If you wish to to name the output something meaningful, use the g++ compiler with the option -o, the output file name, the file name of the source code:
</p>

<div class="code">
  <span class="prompt">$ </span>
  g++ -o test.exe test.cpp
</div>

<p>
  Now, we can execute the source code:
</p>

<div class="code">
  <span class="prompt">$ </span>
  ./test.exe
</div>
