<div class="links">
  <%= link_to 'Vim Home', vim_path %>
</div>

<div class="links">
  <%= link_to 'Movement', vim_movement_path %>
</div>

<div class="links">
  <%= link_to 'Normal', vim_normal_path %>
</div>

<div class="links">
  <%= link_to 'Text Objects', vim_text_objects_path %>
</div>

<div class="links">
  <%= link_to 'Small Changes', vim_small_changes_path %>
</div>

<div class="links">
  <%= link_to 'Tmux', vim_tmux_path %>
</div>

<div class="links">
  <%= link_to 'Marks', vim_marks_path %>
</div>

<div class="links">
  <%= link_to 'Buffer', vim_buffer_path %>
</div>

<div class="links">
  <%= link_to 'Windows', vim_windows_path %>
</div>

<div class="links">
  <%= link_to 'Sessions', vim_sessions_path %>
</div>

<div class="links">
  <%= link_to 'Recording', vim_recording_path %>
</div>

<div class="links">
  <%= link_to 'Substitution', vim_substitution_path %>
</div>

<div class="links">
  <%= link_to 'Global', vim_global_path %>
</div>

<div class="links">
  <%= link_to 'Visual Mode', vim_visual_path %>
</div>

<div class="links">
  <%= link_to 'Searching', vim_search_path %>
</div>

