<header class="navbar">
  <div class="container">
    <%= link_to "Learn to Program", root_path, id: "logo" %>
    <nav>
      <ul class="navbar-nav">
        <li><%= link_to "C",                c_path %></li>
        <li><%= link_to "C++",              cpp_path %></li>
        <li><%= link_to "Python3",          python_path %></li>
        <li><%= link_to "Linux",            linux_path %></li>
        <li><%= link_to "Bash",             bash_path %></li>
        <li><%= link_to "Vim",              vim_path %></li>
        <li><%= link_to "Emacs",            emacs_path %></li>
        <li><%= link_to "Rails",            rails_path %></li>
        <li><%= link_to "Ruby",             ruby_path %></li>
        <li><%= link_to "GIT",              git_path %></li>
        <li><%= link_to "PHP",              php_path %></li>
        <li><%= link_to "Javascript",       javascript_path %></li>
        <li><%= link_to "Apache2",          apache_path %></li>
        <li><%= link_to "Network",          network_path %></li>
      </ul>
    </nav>
  </div>
</header>
